<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <h3>
    <!-- capitalize first letter -->
    <%=category.charAt(0).toUpperCase() + category.slice(1)%> Competencies
  </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Competency</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%categoryCompetencies.forEach((competency, index)=> {%> <%for(let i =0; i
      < requiredCompetencies.length; i+= 1) {%> <%if
      (requiredCompetencies[i].competency == competency.competency) {%>
      <tr class="bg-warning">
        <th scope="row"><%=index+1%></th>
        <td><%=competency.competency%></td>
        <td><%=competency.description%></td>
        <td>
          <a
            href="/evaluationForm/<%=evaluationId%>/<%=category%>/competencies/<%=competency.id%>"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              /></svg
          ></a>
        </td>
      </tr>
      <% return}%> <%}%>
      <tr>
        <th scope="row"><%=index+1%></th>
        <td><%=competency.competency%></td>
        <td><%=competency.description%></td>
        <td>
          <a
            href="/evaluationForm/<%=evaluationId%>/<%=category%>/competencies/<%=competency.id%>"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              /></svg
          ></a>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>
<%-include('partials/footer')%>
