<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <div class="row">
    <div class="card col mt-3">
      <a href="/evaluationForm/<%=evaluationId%>/general/competencies">
        <div class="card-body">
          <p class="card-text">General</p>
        </div>
      </a>
    </div>
    <div class="card col mt-3">
      <a href="/evaluationForm/<%=evaluationId%>/technical/competencies">
        <div class="card-body">
          <p class="card-text">Technical</p>
        </div>
      </a>
    </div>
  </div>
</div>
<%-include('partials/footer')%>
