<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <h1 class="h1">Evaluations</h1>
  <ul class="list-group">
    <%evaluations.forEach((evaluation)=> {%>
    <a href="/evaluationForm/<%=evaluation.id%>"
      ><li class="list-group-item">
        <%=moment(evaluation.date).format("MMMM Do YYYY, HH:mm")%> <%})%>
      </li></a
    >
  </ul>
</div>
<%-include('partials/footer')%>
