<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <h1 class="h1">Evaluations</h1>
  <ul class="list-group">
    <%evaluations.forEach((evaluation)=> {%>
    <a href="/evaluationForm/<%=evaluation.id%>"
      ><li class="list-group-item"><%=evaluation.date%> <%})%></li></a
    >
  </ul>
  <form action="/evaluations" method="POST">
    <button type="submit" class="btn btn-primary mt-2">New Evaluation</button>
  </form>
</div>
<%-include('partials/footer')%>
