<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <h1>Employee Evaluations</h1>
  <div class="dropdown d-inline">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Sort
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/hr?sortBy=alphabetical">A-Z</a>
      <a class="dropdown-item" href="/hr?sortBy=reverse-alphabetical">Z-A</a>
      <a class="dropdown-item" href="/hr?sortBy=date">Latest to Oldest</a>
      <a class="dropdown-item" href="/hr?sortBy=reverse-date"
        >Oldest to Latest</a
      >
    </div>
  </div>
  <div class="dropdown d-inline">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="filter"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="filter">
      <%for (employee of distinctEmployees) {%>
      <a class="dropdown-item" href="/hr?filter=<%=employee.id%>"
        ><%=employee.name%></a
      >
      <%}%>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Job</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%evaluations.forEach((evaluation, index)=> { %>

      <tr>
        <th scope="row"><%=index+1%></th>
        <td><%=evaluation.name%></td>
        <td><%=evaluation.job_title%></td>
        <td><%=evaluation.status%></td>
        <td><%=moment(evaluation.date).format("MMMM Do YYYY, HH:mm")%></td>
        <td>
          <a href="evaluationForm/<%=evaluation.evaluationid%>">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
          </a>
        </td>
      </tr>

      <%})%>
    </tbody>
  </table>
</div>

<%-include('partials/footer')%>
