<%-include('partials/header')%><%-include('partials/navbar')%>

<div class="container">
  <div class="row">
    <%jobCategories.forEach((job)=> {%>
    <div class="card col-3 mt-3">
      <a href="/jobCategory/<%=job%>">
        <div class="card-body">
          <p class="card-text"><%=job%></p>
        </div>
      </a>
    </div>
    <%})%>
  </div>
</div>
<%-include('partials/footer')%>
