<%-include('partials/header')%><%-include('partials/navbar')%>
<div class="container">
  <div class="row mt-3">
    <h2 class="col-12">Approved</h2>
    <%evaluations.forEach((evaluation)=> {%> <%if (evaluation.status ===
    'approved') {%>
    <div class="card mt-3 col-4" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%=evaluation.name%></h5>
        <p class="card-text">
          <%=moment(evaluation.date).format("MMMM Do YYYY, HH:mm")%>
        </p>
        <a href="/evaluationForm/<%=evaluation.id%>" class="btn btn-primary"
          >View</a
        >
      </div>
    </div>
    <%}})%>
  </div>
  <div class="row mt-5">
    <h2 class="col-12">Pending Approval</h2>
    <%evaluations.forEach((evaluation)=> {%> <%if (evaluation.status ===
    'pending approval') {%>
    <div class="card mt-3 col-4" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%=evaluation.name%></h5>
        <p class="card-text">
          <%=moment(evaluation.date).format("MMMM Do YYYY, HH:mm")%>
        </p>
        <a href="/evaluationForm/<%=evaluation.id%>" class="btn btn-primary"
          >View</a
        >
      </div>
    </div>
    <%}})%>
  </div>
</div>
<%-include('partials/footer')%>
